.pagination-wrapper {
    margin: 20px auto;
    position: relative;
    width: 100%;
    text-align: center;
    height: 205px;
}

.pagination {
    margin-top: 0px;
    display: inline-block;
}

a {
    text-decoration: none;
}

.page {
    color: black;
    float: left;
    text-align: center;
    padding: 8px 12px;
    background-color: #EDEDED;
    border-radius: 50%;

    width: 42px;
    height: 40px;
}

.page.active {
    background-color: #7E72F2;
    color: #fff;
    border-radius: 50%;
}

.page:hover {
    background-color: #7E72F2;
    border: 1px solid #7E72F2;
    color: #fff;
    box-sizing: border-box;
}

.left-arrow {
    margin-right: 12px;
    padding-top: 6px;
}

.right-arrow {
    margin-left: 12px;
    padding-top: 6px;
}

.noProducts{
    width: 1000px;
    height: 500px;
    background: url('../../img/no-product-found.png') no-repeat;
    background-size: 80%;
}

@media (max-width: 1350px) and (min-width: 1100px) {
    .pagination-wrapper{
        width: 100%;
    }
    .noProducts{
        background-size: 35%;
    }
}

@media (max-width: 1100px) and (min-width: 950px) {
    .pagination-wrapper{
        width: 100%;
        margin-left: 0px;
    }
    .page{
        width: 37px;
        height: 35px;
        padding: 5px 7px;
    }
    .noProducts{
        background-size: 30%;
    }
}

@media (max-width: 950px) and (min-width: 700px){
    .pagination-wrapper{
        width: 100%;
    }
    .noProducts{
        background-size: 30%;
    }
    .page{
        width: 27px;
        height: 28px;
        padding: 3px 6px;
    }
    .left-arrow{
        margin-right: 0px;
    }
    .right-arrow {
        margin-left: 0px;
    }
}

@media (max-width: 700px) and (min-width: 600px) {
    .pagination-wrapper{
        width: 100%;
    }
    .noProducts{
        background-size: 30%;
    }
    .page{
        width: 23px;
        height: 25px;
        padding: 3px 6px;
    }
    .left-arrow{
        margin-right: 0px;
    }
    .right-arrow {
        margin-left: 0px;
    }
}

@media (max-width: 600px){
    .pagination-wrapper{
        width: 100%;
        margin-left: 2%;
    }
    .noProducts{
        background-size: 30%;
    }
    .page{
        width: 28px;
        height: 27px;
        padding: 3px 6px;
    }
    .left-arrow{
        margin-right: 0px;
    }
    .right-arrow {
        margin-left: 0px;
    }
}