.slider-header {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
}

.wrapper-range {
    margin-bottom: 10px;
    padding: 10px 18px 5px 18px;
    border-radius: 3px;
}

.fromTo {
    margin-top: -25px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.from {
    text-align: left;
    padding-left: 15px;
}

.to {
    text-align: right;
    padding-right: 15px;
}

.MuiSlider-root {
    color: #7e72f2 !important;
}

.MuiSlider-track {
    height: 4px !important;
}

.MuiSlider-rail {
    height: 4px !important;
}

.MuiSlider-thumb{
    color: #fff !important;
    background: url('../../../img/thumbLeft.png') no-repeat;
    height: 19px !important;
    border-radius: 0 !important;
    margin-top: -7px !important;
    box-shadow: none !important;
    width: 6px !important;
}

.MuiSlider-thumb[data-index="1"]{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}