.header-wrapper{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.menu {
    display: none;
}

.header {
    color: #7e72f2;
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 600;
}

.header-btn-cart {
    background-color: #7e72f2;
    color: #fff;
    width: 8%;
    height: 35px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    transition: .3s;
    box-sizing: border-box;
    float: right;
    margin-top: 15px;
    margin-bottom: 5px;
}

.header-btn-cart:hover {
    background-color: #7368da;
    cursor: pointer;
}

.cart_icon{
    padding-right: 5px;
    height: 20px;
    width: 20px;
    padding-bottom: 4px;
}

.headerDiv {
    width: 15%;
}

.headerDivMiddle{
    width: 22%;
}

.headerName {
    width: 40%;
}

@media (max-width: 1350px) and (min-width: 1100px) {
    .headerDiv {
        display: none;
    }
    .headerDivMiddle {
        width: 45%;
    }
    .headerName {
        width: 40%;
        margin-left: 2%;
    }
}

@media (max-width: 1100px) and (min-width: 975px) {
    .headerDiv {
        display: none;
    }
    .headerName {
        width: 41%;
        margin-left: 3%;
    }
    .header {
        font-size: 2.2rem;
    }
    .headerDivMiddle {
        width: 41%;
    }
    .header-btn-cart{
        width: 10%;
    }
}

@media (max-width: 975px) and (min-width: 900px) {
    .headerDiv {
        display: none;
    }
    .headerDivMiddle {
        width: 39%;
    }
    .headerName {
        width: 43%;
        margin-left: 3%;
    }
    .header {
        font-size: 2rem;
    }
    .header-btn-cart{
        width: 10%;
    }
}

@media (max-width: 900px) and (min-width: 800px) {
    .headerDiv {
        display: none;
    }
    .headerDivMiddle {
        width: 33%;
    }
    .headerName {
        width: 43%;
        margin-left: 3%;
    }
    .header {
        font-size: 2rem;
    }
    .header-btn-cart{
        width: 10%;
    }
}

@media (max-width: 800px) and (min-width: 700px) {
    .headerDiv {
        display: none;
    }
    .headerDivMiddle {
        width: 19%;
    }
    .headerName {
        width: 43%;
        margin-left: 3%;
    }
    .header {
        font-size: 2rem;
    }
    .header-btn-cart{
        width: 15%;
    }
}

@media (max-width: 700px) and (min-width: 600px) {
    .headerDiv {
        display: none;
    }
    .headerDivMiddle {
        width: 23%;
    }
    .headerName {
        width: 43%;
        margin-left: 3%;
    }
    .header {
        font-size: 2rem;
    }
    .header-btn-cart{
        width: 15%;
    }
}

@media (max-width: 600px){
    .headerDiv {
        display: none;
    }
    .headerDivMiddle {
        width: 19%;
    }
    .menu {
        display: inline-block;
        margin-top: 10px;
    }
    .headerName {
        width: 20%;
    }
    .header {
        font-size: 1.5rem;
        margin-left: 85px;
    }
    .header-btn-cart{
        width: 15%;
        height: 40px;
    }
}