.search-wrapper {
    position: relative;
}

.search {
    background: url('../../img/searchIcon.png') no-repeat right;
    background-size: auto 47%;
    background-origin: content-box;
    position: absolute;
    height: 45px;
    box-shadow: 0px 2px 8px rgba(62, 62, 62, 0.15);
    border-radius: 7px;
    border: 1px solid grey;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;  
    width: 100%;
}

@media (max-width: 800px) and (min-width: 700px) {
    .search{
        width: 65%;
        margin-left: 18%;
    }
}

@media (max-width: 700px) and (min-width: 600px)  {
    .search{
        width: 81%;
        margin-left: 10%;
    }
}

@media (max-width: 600px) {
    .search{
        width: 55%;
        margin-left: 22%;
    }
}