body{
    overflow-x:hidden;
}

.errorMes {
    width: 100%;
    background-color: rgb(252, 54, 54);
    color: black;
    font-weight: 500;
    text-align: center;
    top: 30%;
}

.side-box {
    position: relative;
    width: 90%;
    min-width: 195px;
    height: 70%;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.133);
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 20px;
    box-sizing:border-box;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    color: #2C2C2C;
}

.row{
    justify-content: space-around;
}

.gridDiv {
    width: 15%;
}

.gridRight {
    width: 50%;
}

.gridLeft {
    width: 20%;
}

.grid-container {
    height: 100%;;
    width: 100%;
    min-width: 576px;
    margin-bottom: 30px;
}

.right-side {
    margin-left: 45px;
    float: right;
}

.sr{
    margin-bottom: 60px;
    width: 100%;
}

@media (max-width: 1350px) and (min-width: 900px) {
    .gridDiv {
        display: none;
    }
    .gridRight {
        width: 70%;
    }
    .gridLeft {
        width: 25%;
    }
}

@media (max-width: 900px) and (min-width: 599px) {
    .gridDiv {
        display: none;
    }
    .gridRight {
        width: 60%;
    }
    .gridLeft {
        width: 30%;
    }
}

@media (max-width: 600px) and (min-width: 400px){
    .gridDiv {
        display: none;
    }
    .sideB {
        display: none;
    }
    .gridRight{
        width: 100%;
    }
    .sr{
        width: 99%;
        margin-left: 1%;
    }
}

@media (max-width: 400px) and (min-width:200px) {
    .gridDiv {
        display: none;
    }
    .sideB {
        display: none;
    }
    .gridRight{
        width: 100%;
    }
}

@media (max-width: 200px){
    .gridDiv {
        display: none;
    }
    .sideB {
        display: none;
    }
    .gridRight{
        width: 100%;
    }
}